[submodule "src/screen-library-mcu"]
	path = src/screen-library-mcu
	url = git@github.com:wallacegibbon/screen-library-mcu.git
[submodule "miscellaneous-makefiles"]
	path = miscellaneous-makefiles
	url = git@github.com:wallacegibbon/miscellaneous-makefiles.git
[submodule "screen-library-mcu"]
	path = screen-library-mcu
	url = git@github.com:wallacegibbon/screen-library-mcu.git
